		input{
			width: 100%;
			border: 1px solid #131118;
			outline: none;
			padding: 12px 14px;
			border-radius: 4px;
			font-size: 16px;
			font-family: Memoirs;
			cursor: auto;
			z-index: 1;
			font-weight: normal;
			color: #131118;
			background: white;

			&:active, &:focus{
				border:1px solid #131118;
			}
		}
		span{
			cursor: pointer;
		}
		.placeHolder{
			width :fit-content;
			height : fit-content;
			position : absolute;
			background:  inherit;
			font-size: 16px;
			font-family: Memoirs;
			color: black;
			opacity: 0.8;
			cursor: auto;
			transition: all .2s ease-in-out;

			&active{
				transform: translateY(-50px);
				left: 0px;
				z-index: 2;
				opacity: 0;
			}
			&inactive{
				top:55%;
				transform: translateY(0);
				left: 25px;
				z-index: 1;
				opacity: 1;
			}
		}
		.errorMsg{
			width: fit-content;
			height: fit-content;
			background: transparent;
			padding: 2px;
			color: red;
			position: absolute;
			top: -5px;
			left: 50%;
			font-size: 12px;
			font-weight: bold;

		}
		label{
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
		.passWordIcon{
			position: absolute;
			left: 90%;
			cursor: pointer;
			transform: translateY(-200%);
			font-size: 24px;
			z-index: 3;
			color: black;
		}